/* CSS di progetto*/
/*DEBUG*/
[class*="col-"] {
    min-height: 50px;
    background-color: #006cfa;
    border: solid 2px white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titolo {
    display: block;
    background-color: white;
    min-height: 30px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.row .nested {
    min-height: 80px;
    padding: 0 10px 0;
}

.nested > div {
    background-color: lime;
    border:solid #006cfa;
    font-weight: bold;
}